<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">
    
<h:head>
	<link rel="StyleSheet" type="text/css" href="css/principal.css" media="screen"/>
</h:head>
<h:body>
	<pe:layout fullPage="true">
		<pe:layoutPane position="north" size="40" resizable="false">
			<ui:insert name="header">
			</ui:insert>
		</pe:layoutPane>
		<pe:layoutPane position="center">
			<ui:insert name="center">
			</ui:insert>
		</pe:layoutPane>
		<pe:layoutPane position="west" size="245" minSize="245" maxSize="245">
		  <h:form>
			<p:menu toggleable="true">
				<p:submenu label="Configurador">
					<p:menuitem value="Configurador" />
				</p:submenu>
				<p:submenu label="Certificados">
					<p:menuitem value="Baixar do FTP" />
					<p:menuitem value="Testar tribunal" action="TestarTribunal.xhtml"/>
					<p:menuitem value="Configurar prefixos"/>
					<p:menuitem value="Listar"/>
				</p:submenu>
				<p:submenu label="Documentos">
					<p:menuitem value="Documentos" />
				</p:submenu>
				<p:submenu label="Configurações">
					<p:menuitem value="Configurações" />
				</p:submenu>
				<p:submenu label="Sair">
					<p:menuitem value="Sair" action="index.xhtml"/>
				</p:submenu>
			</p:menu>
		  </h:form>			
		</pe:layoutPane>
		<pe:layoutPane position="south" resizable="false">
			<ui:insert name="footer">
			</ui:insert>
		</pe:layoutPane>
	</pe:layout>	
</h:body>       
</html>  