<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="StyleSheet" type="text/css" href="css/principal.css" media="screen"/>
</h:head>

<h:body>
 <h:form>
	 <div id="imgpos">
	 	<p:panel style="width:400px;">
				<p:messages id="messages" />
				<p:panelGrid columns="2" styleClass="noBorder transparentBackground">
					<p:outputLabel for="nome" value="Nome Usuário:" />
					<p:inputText id="nome" value="#{LoginBean.usuario.nome}" />
					<p:outputLabel for="senha" value="Senha:" />
					<p:password id="senha" value="#{LoginBean.usuario.senha}" />
					<p:commandButton value="Enviar" icon="ui-icon-star"
						action="#{LoginBean.envia}" ajax="false">
					</p:commandButton>
				</p:panelGrid>
		</p:panel>	
	</div>	
  </h:form>
</h:body>

</html>