<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="header">

		</ui:define>
		
		<ui:define name="center">
			
		</ui:define>
		
		<ui:define name="menu">
		  <h:form>
			<p:menu toggleable="true">
				<p:submenu label="Configurador">
					<p:menuitem value="Configurador" />
				</p:submenu>
				<p:submenu label="Certificados">
					<p:menuitem value="Baixar do FTP" />
					<p:menuitem value="Testar tribunal" action="TestarTribunal.xhtml"/>
					<p:menuitem value="Configurar prefixos"/>
					<p:menuitem value="Listar"/>
				</p:submenu>
				<p:submenu label="Documentos">
					<p:menuitem value="Documentos" />
				</p:submenu>
				<p:submenu label="Configurações">
					<p:menuitem value="Configurações" />
				</p:submenu>
			</p:menu>
		</h:form>
		</ui:define>
		
		<ui:define name="footer">
			Gerenciador iniciando...
		</ui:define>
	</ui:composition>
</html>