<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="center">
			<p:panel header="Selecione um segmento e unidade organizacional">
				<h:panelGrid columns="2" cellpadding="5">	
					<p:outputLabel value="Segmento"/>
					<p:selectOneMenu id="segmento" value="#{testarTribunalBean.segmentoJudiciario}">
						<p:ajax listener="#{testarTribunalBean.onChangeSegmento}" update="unidade" />
						<f:selectItem itemLabel="Selecione um segmento judiciário" 
						 itemValue="#{testarTribunalBean.segmentoJudiciario}" noSelectionOption="true"/>
						<f:selectItems value="#{testarTribunalBean.segmentosJudiciariosMap}"/>
					</p:selectOneMenu>
					
					<p:outputLabel value="Unidade Judiciária"/>
					<p:selectOneMenu id="unidade" value="#{testarTribunalBean.unidadeJudiciaria}">
						<f:selectItem itemLabel="Selecione uma unidade judiciária" itemValue="" noSelectionOption="true"/>					
						<f:selectItems value="#{testarTribunalBean.unidadesJudiciariasMap}"/>
					</p:selectOneMenu>
				</h:panelGrid>
			</p:panel>
		</ui:define>
	</ui:composition>
</html>