@charset "UTF-8";

#imgpos {
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-250px;
		margin-top:-100px;
		}
		
.noBorder tr,
.noBorder td { 
	border: 0 !important; 
	}

.transparentBackground tr,
.transparentBackground td { 
	background: transparent !important; 
}		